@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-sidebar-header-logo-ctn .fi-logo{
    height: 3rem !important;
}
.fi-topbar-start .fi-logo{
    height: 3rem !important;
}